* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  padding: 25px;
  color: #fff;
  background-color: #000000;
  display: flex;
  justify-content: flex-start;
}

.image-container {
  padding: 320px;
  display: flex;
  background-image: url("https://ie.wampi.ru/2022/06/07/dva.jpg");
  background-size: cover;
  background-position: center;
}

.menu-container {
  padding: 20px;
  color: #fff;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.main-text-container {
  padding: 40px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.text-container {
  padding: 40px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(209, 19, 19);
}

.footer-container {
  padding: 25px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
}

.footer {
  width: 1600px;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-top: 25px;
}

p {
  margin-top: 25px;
}

.logo {
  width: 25px;
  height: 25px;
}

.margin {
  margin-left: 5px;
  margin-right: 5px;
}

a:link {
  color: rgb(255, 135, 37);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 135, 37);
}

a:hover {
  color: rgb(255, 0, 225);
  text-decoration: underline;
}

a:active {
  color: red;
}

a:visited:hover {
  color: rgb(255, 0, 225);
}

a:visited:active {
  color: red;
}