* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
  font-size: 18px;
  font-family: sans-serif;
  color: #000000;
}

.logo {
  width: 55px;
  height: 55px;
}

.icon-opensea {
  width: 700px;
  height: 200px;
}

.icon-rarible {
  width: 250px;
  height: 250px;
}

.icon-magiceden {
  width: 450px;
  height: 250px;
}

.header {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #f1eeee;
}

.menu {
  margin-top: 15px;
}

.menu > li {
  margin-right: 50px;
  display: inline;
}

.menu > li:last-of-type {
  margin-right: 0;
}

a:link,
a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #eb4add;
}

.image-container {
  padding: 200px;
  display: flex;
  background-image: url("https://ie.wampi.ru/2022/06/08/1625812007_29-kartinkin-com-p-oboi-s-melkimi-detalyami-krasivie-31.png");
  background-size: cover;
  background-position: center;
}

.main-container {
  padding: 25px;
  background-color: #ffffff;
  display: flex;
}

.main-content-container {
  padding: 20px;
  display: flex;
}

.content-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(303, 94%, 61%);
}

.last-container {
  padding: 10px;
  display: flex;
  border: 1px solid hsl(303, 94%, 61%);
}

.margin {
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

p {
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-container {
  padding: 25px;
  background-color: #5e6fcf;
  display: flex;
  justify-content: flex-start;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
